[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "vim/forks/seoul256.vim"]
	path = vim/forks/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "vim/forks/vim-commentary"]
	path = vim/forks/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/forks/lightline.vim"]
	path = vim/forks/lightline.vim
	url = https://github.com/itchyny/lightline.vim
