[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "vim/forks/seoul256.vim"]
	path = vim/forks/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule "vim/forks/vim-commentary"]
	path = vim/forks/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/forks/lightline.vim"]
	path = vim/forks/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/forks/mru.vim"]
	path = vim/forks/mru.vim
	url = https://github.com/yegappan/mru
[submodule "vim/forks/ctrlp.vim"]
	path = vim/forks/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/forks/vim-colors-solarized"]
	path = vim/forks/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
